@model DataPaginador<TCursos>

@{
    var cat = JsonConvert.SerializeObject(Model.Categorias);
}

<div class="modal fade" data-backdrop="static" id="modalRegistrar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Curso</h4>
                <button type="button" onclick="curso.limpiar()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="formCurso" method="post">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <center>
                            <div class="form-group">
                                <div class="col-md-5">
                                    <a class="thumbnail">
                                        <output id="cursoImage">
                                            <img src="~/Images/logo-google.png" class="cursoImage" />
                                        </output>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group btn btn-success text-light">
                                <label for="files">Cargar Foto</label>
                                <div class="col-md-10">
                                    <input asp-for="AvatarImage" accept="image/*" class="file-input" type="file" id="files" />
                                </div>
                            </div>
                        </center>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Nombre" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Nombre" placeholder="Nombre" id="curNombre" class="form-control" />
                                    <span asp-validation-for="Input.Nombre" class="text-danger" id="span1"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Descripcion" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Descripcion" placeholder="Descripción" id="curDescripcion" class="form-control" />
                                    <span asp-validation-for="Input.Descripcion" class="text-danger" id="span2"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Horas" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Horas" id="curHoras" placeholder="Horas" value="0" class="form-control" />
                                    <span asp-validation-for="Input.Horas" class="text-danger" id="span3"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Costo" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Costo" id="curCosto" placeholder="Costo" value="0.00" class="form-control" />
                                    <span asp-validation-for="Input.Costo" class="text-danger" id="span4"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Estado" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Input.Estado" id="curEstado" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label asp-for="Input.Categoria" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => Model.Input.CategoriaID, new SelectList(Model.Categorias, "Value", "Text"), "Seleccione una categoria",
                                   htmlAttributes: new { @class = "form-control", id = "curCatergoria" })
                                    <span asp-validation-for="Input.CategoriaID" class="text-danger" id="span5"></span>
                                </div>
                            </div>
                        </div>

                        <span id="mensaje" class=" text-danger"></span>
                        <input type="text" required class="hidden" />
                        <input asp-for="Input.CursoID" id="curCursoID" class="hidden" />

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="curso.limpiar()" data-dismiss="modal">Cancelar</button>
                    <button type="submit" onclick="curso.RegistrarCurso()" class="btn btn-primary">Guardar</button>
                </div>

            </form>

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>