@{
    ViewData["Title"] = "Informacion";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>
        Mi nombre es Hugo Eduardo Carvajalino Solano Ing de Sistemas, Programador, Servidores, Redes cisco.
    </p>
</div>
